body {
font-family: "arial";
margin: 0;
}

#header {
background: #272727;
color: white;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    color: white;
}

a {
    color: white;
}